.login-container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

mat-card-subtitle,
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
.mat-card-subtitle a {
  text-decoration: none;
}
mat-card-title{
  font-size: 15px;
}

.error {
  padding: 16px;
  width: 100px;
  color: white;
  background-color: red;
}

.button-submit {
  display: flex;
  justify-content: center;
}

