$borderLayoutColor: rgb(151, 149, 149);
$mainLightBackgroundColour:rgb(255, 255, 255);
$ticketpanelBackGroundColor:#f5f8fa;
$greyFontColor: rgb(104, 102, 102);
$headerMenuHover:#f5f8fa;
$headerMenuBorderLine:#d5d9db;
