<div class="ticket-main-content-container">
  <div class="ticket-main-content__title">
    <h3>
      {{ticketInfo.name}}
    </h3>
  </div>
  <div class="ticket-main-content__buttons">

  </div>
  <div class="ticket-main-content-body">
    <div>
      Description
    </div>
    <div class="ticket-main-content__description">
      {{ticketInfo.description}}
    </div>
    <div class="ticket-main-content__attachments">

    </div>
    <div>
      Activity
    </div>
    <div class="ticket-main-content__show-buttons">

    </div>
    <div class="ticket-main-content__comments">

    </div>
  </div>

</div>
