<mat-drawer-container autosize>
  <mat-drawer-content autosize>
    <app-header (helpButtonEvent)="helpButtonEvent()"></app-header>
    <div class="app-wrapper">
      <app-sidebar></app-sidebar>
      <div class="outlet-wrapper"  [ngClass]="{sidebarCondition: isSidebarExpanded,helpSidenavCondition: ishelpSidenavExpanded }">
        <router-outlet ></router-outlet>
      </div>
      <mat-drawer class="help-sidenav" #drawer mode="side" position="end">
        <app-help-sidenav ></app-help-sidenav>
      </mat-drawer>

    </div>
  </mat-drawer-content>
</mat-drawer-container>

