/* You can add global styles to this file, and also import other style files */

@import 'theme/overrideDefault';

body {
  height: 100vh;
  margin: 0;
  padding: 0px;
  font-family: Roboto,"Helvetica Neue", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
}

.create-issue-modal-project-select mat-dialog-container {

  padding: 10px 16px 10px 16px !important;
  overflow: hidden !important;
}

.button{
  margin: 2px;
  border: 0px;
  font-size: 8px;
  background-color: black;
  color: white;
  border-radius: 7%;
  height: 16px;
  font-weight: 400;
  align-items: center;
  height: 20px;
  &:hover{
    opacity: 0.7;
  }
}

